
        <div class="col-md-6 ">

            <div class="contact_form">
                {{ form_start(form) }}
                <div class="form-group">
                    <p class="">{{ form_label(form.name, 'Votre nom') }}</p>
                    <p>{{ form_errors(form.name) }}</p>
                    <p>{{ form_widget(form.name,{'label_attr':{'class':'form-control'} }) }}</p>
                </div>

                <div class="form-group">
                    <p>{{ form_label(form.email, 'Votre adresse email') }}</p>
                    <p>{{ form_errors(form.email) }}</p>
                    <p>{{ form_widget(form.email,{'label_attr':{'class':'form-control'} }) }}</p>
                </div>

                <div class="form-group">
                    <p>{{ form_label(form.telephone, 'Votre téléphone') }}</p>
                    <p>{{ form_errors(form.telephone) }}</p>
                    {{ form_widget(form.telephone,{'label_attr':{'class':'form-control'} }) }}
                </div>
                <div class="form-group">
                    <p>{{ form_label(form.message, 'Votre message') }}</p>
                    <p>{{ form_errors(form.message) }}</p>
                    <p>{{ form_widget(form.message,{'label_attr':{'class':'form-control'} }) }}</p>
                </div>

                <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Envoyer" />
                </div>

                {{ form_end(form) }}
            </div>

            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {#{% include '@Portfolio/Default/message.html.twig' %}#}
        </div>


